<h1>COLLECTIONS</h1>
<h3>AQUI LAS SERIES COMPLETAS</h3>


<div>
    <a href="/berserk"><div>Berserk</div></a>
    <div>Imagen</div>
    <div>Descripcion</div>
</div>
<br>
<div>
    <div>Vagabond</div>
    <div>Imagen</div>
    <div>Descripcion</div>
</div>


{{!-- Cuando pinche encima me llevará a la pagina colecion - Nombre del titulo --}}