<h1>COLLECTIONS</h1>
<h3>AQUI LAS SERIES COMPLETAS</h3>


{{#each this.collectionSeries}}

<a href="/mangas/{{this._id}}">

    <h4>{{this.collectionType}}</h4>
    <h4>{{this.genre}}</h4>
    <img src="{{this.image}}" alt="imagen tomo" />
    </a>
 
   
    
{{/each}}
