<h1>GENEROS</h1>

<div>
    <h1>Shonen</h1>
    <div><img src="/images/shonen.jpg" alt="SHONEN"></div> 
    <p>"Shonen" es un término japonés que se refiere a un género de manga y anime dirigido principalmente a adolescentes y jóvenes varones. Las historias de este género suelen centrarse en protagonistas jóvenes que enfrentan aventuras emocionantes, desafíos personales y batallas épicas. La narrativa a menudo resalta valores como la amistad, la superación personal y el coraje. Los elementos de acción, competición y desarrollo de habilidades también son características comunes en el género shonen. Aunque el público objetivo es principalmente masculino, estas historias pueden ser disfrutadas por personas de todas las edades y géneros debido a su enfoque en temas universales de crecimiento y determinación."</p>
    <a href="/detalles-genero/shonen"><Button>Colecciones Shonen</Button></a>
</div>


<div>
    <h1>Shojo</h1>
    <img src="/images/shojo.jpg" alt="SHOJO">
    <p>"Shojo" se refiere a un género de manga y anime dirigido principalmente a un público femenino adolescente. Las historias shojo suelen explorar temas emocionales y románticos, centrándose en las relaciones interpersonales y las experiencias de crecimiento. Los personajes principales son a menudo heroínas que enfrentan dilemas sentimentales, desafíos personales y descubrimientos sobre sí mismas y el mundo que las rodea.</p>
    <a href="/detalles-genero/shojo"><Button>Colecciones Shojo</Button></a>
</div>


<div>
    <h1>Seinen</h1>
    <img src="/images/seinen.jpg" alt="SEINEN">
    <p>"Seinen" es un género de manga y anime dirigido a un público adulto masculino. A diferencia de los géneros orientados a jóvenes, el seinen aborda temas más maduros y complejos. Las historias suelen ser realistas y pueden explorar temas como la vida cotidiana, la política, la psicología y la violencia de manera más profunda. Los personajes son a menudo adultos que enfrentan situaciones más maduras y decisiones difíciles en un contexto más adulto</p>
    <a href="/detalles-genero/seinen"><Button>Colecciones Seinen</Button></a>
</div>


<div>
    <h1>Kodomo</h1>
    <img src="/images/kodomo.png" alt="KODOMO">
    <p>"Kodomo" es un género de manga y anime diseñado especialmente para niños más jóvenes. Estas historias suelen ser ligeras, coloridas y llenas de aventuras imaginativas. Los personajes principales son a menudo niños o criaturas adorables que enfrentan situaciones y desafíos adecuados para su edad. El género Kodomo busca entretener, educar y capturar la imaginación de los niños en sus primeros años de vida.</p>
    <a href="/detalles-genero/kodomo"><Button>Colecciones Kodomo</Button></a>
</div>