<div class="title-container">
    <h1>Bienvenido a Todo Manga!</h1>
    <h3>Echa un vistazo a nuestro amplío catálogo que se amplía más y más gracias al trabajo de nuestros admins!</h3>
</div>

<div>

    <div style="display: grid; gap: 1em; grid-template-columns: repeat(4, 1fr); place-items: center; ">
  
        {{#each this.objetosSeleccionados}}
            <div  class="patata">
                <h4 style="text-align: center;">{{this.collectionType}}</h4>
                <h4 style="text-align: center;">{{this.genre}}</h4>
                <a href="/mangas/{{this._id}}">
                    <img src="{{this.image}}" alt="imagen tomo" width="250" height="300" />
                </a>
            </div>

        {{/each}}
    </div>
        
</div>
