<div style="display: flex; justify-content: space-between; align-items: center;">
  <h1><a href="/">LOGO</a></h1>
  <nav>
    <a href="/collections">Collections</a>
    <a href="/mangas">Mangas</a>
  </nav>
  <div>
    {{#if this.isLogged}}
      <a href="/profile">Profile</a>
      <a href="/auth/logout">Cerrar sesion</a>
    {{else}}
      <p><a href="/auth/login">Login</a> | <a href="/auth/signup">Sign Up</a></p>
    {{/if}}
  </div>

</div>
<form action="/search">
  <input type="text" name="search" />
  <button>Buscar manga</button>
</form>