<h4>indiceeeee</h4>





{{#each this.objetosSeleccionados}}
    <a href="/mangas/{{this._id}}">
    <h4>{{this.collectionType}}</h4>
    <h4>{{this.genre}}</h4>
    <img src="{{this.image}}" alt="imagen tomo" />
    </a>
    {{/each}}