<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <nav style="display: flex; justify-content: space-around; width: 70%; margin: auto auto 2em auto">
        <div>
          <a href="/">Inicio</a>
          <a href="/collections">Collections</a>
          <a href="/mangas">Mangas</a>
          <a href="/generos">Generos</a>
          {{#if this.puedeSubirManga}}
            <a href="/subir-manga">Subir manga</a>
          {{/if}}
        </div>
        <div>
          {{#if this.isLogged}}
            <a href="/profile">Profile</a>
            <a href="/auth/logout">Cerrar sesion</a>
          {{else}}
            <a href="/auth/login">Login</a>
            <a href="/auth/signup">Sign Up</a>
          {{/if}}
        </div>
      </nav>

      
  </div>
<form action="/search">
  <input type="text" name="search" />
  <button>Buscar manga</button>
</form>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>