<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <nav>
        <div id="secciones">
          <a href="/"><img src="/images/logo.jpg" height="40" alt=""></a>
          <a href="/collections">Collections</a>
          <a href="/mangas">Mangas</a>
          <a href="/generos">Generos</a>
          {{#if this.puedeSubirManga}}
            <a href="/subir-manga">Subir manga</a>
          {{/if}}
        </div>

        <div id="search-container">
          <form action="/search">
            <button><img src="/images/search-icon.png" width="20" height="20" alt=""></button>
            <input type="text" name="search" />
          </form>
        </div>

        <div>
          {{#if this.isLogged}}
            <a href="/profile">Profile</a>
            <a href="/auth/logout">Cerrar sesion</a>
          {{else}}
            <a href="/auth/login">Login</a>
            <a href="/auth/signup">Sign Up</a>
          {{/if}}
        </div>
      </nav>

      
    

      {{{body}}}

    
   
   <footer class="footer">  
   </footer>
   
   <script src="/js/script.js"></script>
  </body> 
</html>