<div>
    <h1>MANGAS</h1>
    <h1>Todos nuestros mangas disponibles aqui!</h1>

    {{#each this.mangaTitle}}
    <a href="/mangas/{{this._id}}">

        <li>{{this.title}}
        <img src="{{this.image}}" alt="imagen tomo">  </li>
    </a>
    
    
    {{/each}}
    
</div>
</div>


