<div id="mangas-container">
    <h1>MANGAS</h1>
    <h1>Todos nuestros mangas disponibles aquí!</h1>

    <div id="mangas">
        {{#each this.mangaTitle}}
            <a href="/mangas/{{this._id}}" class="manga">
                {{this.title}}
                <img src="{{this.image}}" width="300" height="350" alt="imagen tomo">
            </a>
        {{/each}}
    </div>
</div>


