* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SECCION DE SUBIR MANGA */
#subir-manga-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em;
}

#subir-manga-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background: #d3d3d3;
  padding: 2em;
}

#titulo-volumen {
  display: flex;
  gap: 2em;
}

#titulo, #volumen, #descripcion {
  display: flex;
  flex-direction: column;
}

#descripcion {
  width: 100%;
}

#subir-manga-container form label {
  text-transform: lowercase;
  font-weight: bold;
  font-size: 1.2em;
}

#subir-manga-container form input, #subir-manga-container textarea {
  border: 1px solid blue;
  outline: none;
  border-radius: 2em;
}

#subir-manga-container form input {
  padding: 1em;
}