* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1bf09;
}

/* SECCION DE SUBIR MANGA */
#subir-manga-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em;
}

#subir-manga-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background: #d3d3d3;
  padding: 2em;
}

#titulo-volumen {
  display: flex;
  gap: 2em;
}

#titulo, #volumen, #descripcion {
  display: flex;
  flex-direction: column;
}

#descripcion {
  width: 100%;
}

#subir-manga-container form label {
  text-transform: lowercase;
  font-weight: bold;
  font-size: 1.2em;
}

#subir-manga-container form input, #subir-manga-container textarea {
  border: 1px solid blue;
  outline: none;
  border-radius: 2em;
}

#subir-manga-container form input {
  padding: 1em;
}






body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

header, nav, footer {
  background-color: #333;
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

header {
  padding: 1em;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  padding: 1em 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: white;
  color: #333;
}

form {
  text-align: center;
  padding: 1em;
}


footer {
  margin-top: 20px;
  bottom: 0; 
  width: 100%; 
  height: 100px; 
  background-color: #333; 
  color: white; 
  text-align: center;
  padding: 20px; 
  
}
.patata{
  background-color: white;
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
}
.manga-card {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.manga-card h4 {
  text-align: center;
  margin-bottom: 10px;
}

.manga-card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.genre-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.genre-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.genre-container img {
  display: block;
  max-width: 850px;
  height: 638px;
  margin: 0 auto;
}

.genre-container p {
  font-size: 16px;
  line-height: 1.6;
}

.genre-container a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
}

.genre-container a:hover {
  background-color: #0056b3;
}


