* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1bf09;
}

#subir-manga-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em;
}

#subir-manga-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background: #d3d3d3;
  padding: 2em;
}

#titulo-volumen {
  display: flex;
  gap: 2em;
}

#titulo, #volumen, #descripcion {
  display: flex;
  flex-direction: column;
}

#descripcion {
  width: 100%;
}

#subir-manga-container form label {
  text-transform: lowercase;
  font-weight: bold;
  font-size: 1.2em;
}

#subir-manga-container form input, #subir-manga-container textarea {
  border: 1px solid blue;
  outline: none;
  border-radius: 2em;
}

#subir-manga-container form input {
  padding: 1em;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

header, nav, footer {
  background-color: #333;
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

header {
  padding: 1em;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 1em 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: white;
  color: #333;
}

form {
  text-align: center;
  padding: 1em;
}


footer {
  margin-top: 20px;
  bottom: 0; 
  width: 100%; 
  height: 100px; 
  background-color: #333; 
  color: white; 
  text-align: center;
  padding: 20px; 
  
}
.patata{
  background-color: white;
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
}
.manga-card {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.manga-card h4 {
  text-align: center;
  margin-bottom: 10px;
}

.manga-card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}


.genre-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center; 
}

.genre-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.genre-container img {
  max-width: 100%; 
  height: auto; 
  margin: 5px;
  display: inline-block; 
  border-radius: 5px;
}

.genre-container p {
  font-size: 16px;
  line-height: 1.6;
}

.genre-container a {
  display: inline-block; 
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
}

.genre-container a:hover {
  background-color: #0056b3;
}

#search-container form input {
  height: 25px;
}

#search-container form {
  padding: 0;
  display: flex;
  align-items: center;
}

#secciones {
  display: flex;
  align-items: center;
}

#iniciar-sesion-container,
#registrarte-container,
#modificar-manga-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

#iniciar-sesion-container form,
#registrarte-container form,
#modificar-manga-container form {
  padding: 1em;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}

#iniciar-sesion-container form #correo-electronico,
#iniciar-sesion-container form #contraseña,
#registrarte-container form #nombreusuario,
#registrarte-container form #correo,
#registrarte-container form #contraseña,
#modificar-manga-container form #titulo,
#modificar-manga-container form #volumen,
#modificar-manga-container form #coleccion,
#modificar-manga-container form #descripcion,
#modificar-manga-container form #autor,
#modificar-manga-container form #genre,
#modificar-manga-container form #imagen {
  display: flex;
  flex-direction: column;
}


#iniciar-sesion-container form #correo-electronico input,
#iniciar-sesion-container form #contraseña input,
#registrarte-container form #nombreusuario input,
#registrarte-container form #correo input,
#registrarte-container form #contraseña input,
#modificar-manga-container form #titulo input,
#modificar-manga-container form #volumen input,
#modificar-manga-container form #coleccion input,
#modificar-manga-container form #descripcion input,
#modificar-manga-container form #autor input,
#modificar-manga-container form #genre input,
#modificar-manga-container form #imagen input {
  outline: none;
  padding: 0.2em 1em;
}

#iniciar-sesion-container form #correo-electronico input:focus,
#iniciar-sesion-container form #contraseña input:focus,
#registrarte-container form #nombreusuario input:focus,
#registrarte-container form #correo input:focus,
#registrarte-container form #contraseña input:focus,
#modificar-manga-container form #titulo input:focus,
#modificar-manga-container form #volumen input:focus,
#modificar-manga-container form #coleccion input:focus,
#modificar-manga-container form #descripcion input:focus,
#modificar-manga-container form #autor input:focus,
#modificar-manga-container form #genre input:focus,
#modificar-manga-container form #imagen input:focus {
  background: rgba(0, 0, 0, 0.1);
}

#iniciar-sesion-container form button,
#registrarte-container form button,
#modificar-manga-container form button {
  background: #000000;
  color: #ffffff;
  padding: 0.5em 1em;
  width: fit-content;
  transition: 0.2s;
  margin: auto;
  border-radius: 1em;
}

#iniciar-sesion-container form button:hover,
#registrarte-container form button:hover,
#modificar-manga-container form button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}

#mangas-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

#mangas-container #mangas {
  display: grid; 
  gap: 1em; 
  grid-template-columns: repeat(4, 1fr); 
  place-items: center;
}

#mangas-container #mangas .manga {
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}



#likes {
  display: flex;
  align-items: center;
  justify-content: center;
}

#likes button {
  padding: 0.5em 1em;
}

#dislike {
  background-color: #0056b3;
  color: #ffffff;
  font-weight: bold;
}

#like {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

#acciones-manga {
  display: flex;
  justify-content: center;
  align-items: center;
}

#acciones-manga #actualizar-manga,
#acciones-manga #borrar-manga {
  padding: 0.5em 1em;
  text-decoration: none;
  border: 1px solid #000000;
}

#actualizar-manga {
  color: #000000;
}

#borrar-manga {
  background-color: #ab5858;
  color: #ffffff;
}



#comentarios-container {
  background-color: #333;
  padding: 1em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#comentarios-container form {
  padding: 0;
  display: flex; 
  align-items: center; 
  gap: 1em;
}

#comentarios-container form textarea {
  outline: none;
  padding: 0.2em 1em;
}

#comentarios-container form button {
  background: #000000;
  color: #ffffff;
  padding: 0.5em 1em;
  width: fit-content;
  transition: 0.2s;
  border-radius: 1em;
}

#comentarios-container form button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}



.title-container {
  background-color: #969696;
  padding: 10px;
  margin-bottom: 20px
}

.title-container > h1,
.title-container > h2 {
  margin-bottom: 20px;
  margin-right: 10px;  
  color: white;       
}



.manga-card.manga-card-0 {
  width: calc(100% - 20px); 
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 20px;
  margin-top:20px
}

.manga-card.manga-card-1 {
  width: calc(100% - 20px); 
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 20px;
  margin-top:20px
}

.manga-card {
  width: calc(100% - 20px); 
  margin: 10px auto; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex; 
  align-items: center; 
  text-align: center;
}

.manga-card-div {
  flex: 1; 
  padding: 0 10px; 
}

.manga-card h4 {
  margin: 0; 
  padding: 5px 0; 
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.manga-card img {
  width: 40%;
  height: auto;
  border-radius: 10px;
  
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.manga-card img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}